.container{
    border : 5px solid red;
    margin:20px;
    padding: 20px;
    font-weight: 900;
    font-size: 50px;
    background-color: aqua;
    box-shadow: 5px 5px green;
}
.container2{
    border : 5px solid green;
    margin:20px;
    padding: 20px;
    font-weight: 900;
    font-size: 50px;
    background-color: red;
    box-shadow: -5px -5px blue;
}
.container3{
    border : 5px solid red;
    margin:30px;
    padding: 30px;
    font-weight: 900;
    font-size: 90px;
    background-color: rgb(169, 222, 116);
    box-shadow: 20px 20px 40px 10px green;
    /* box-shadow: offset-x offset-y blur -radius spread-redius color; */
}

body{
    background-color: black;
    display: flex;
}