body {
    background-color: black;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.neon {
    font-size: 90px;
    animation: Animation1 1s linear infinite;
}

@keyframes Animation1 {
    0%,
    100% {
        text-shadow: 0 0 1vw #fa1c16,
            0 0 3vw #fa1c16,
            0 0 10vw #fa1c16,
            0 0 10vw #fa1c16,
            0 0 0.4vw #fed128;
        color: #fed128;
    }
    50% {
        text-shadow: 0 0 0.5vw #800e0b,
            0 0 1.5vw #800e0b,
            0 0 5vw #800e0b,
             0 0 5vw #800e0b, 
            0 0 0.2vw #800e0b;
        color: #806914;
    }
}
 
.text {
    font-size: 90px;
    animation: Animation2 2s ease infinite;
}

@keyframes Animation2 {
    0%, 100% {
        text-shadow: 0 0 1vw #1041ff,
            0 0 3vw #1041ff,
            0 0 10vw #1041ff,
            0 0 10vw #1041ff,
            0 0 0.4vw #8bfdfe;
        color: #28d7fe;
    }

    50% {
        text-shadow: 0 0 0.5vw #082180,
            0 0 1.5vw #082180,
            0 0 5vw #082180,
            0 0 5vw #082180,
            0 0 0.2vw #082180;
        color: #146c80;
    }
}