.battery-top{
    width: 30px;
    height: 10px;
    background: black;
    margin: 0 auto;
    border: 3px solid silver;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.battery-content{
    width: 150px;
    height: 250px;
    background: black;
    position: relative;
    margin: 0 auto;
    border: 3px solid silver;
    border-radius: 18px;
}

.charge{
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 14px;
    animation: battery 4s linear infinite;
    /* animation: battery 4s linear 1; */
}

@keyframes battery {
    0%{
        height: 0%;
        background: red;
    }
    25%{
        height: 25%;
        background: orange;
    }
    50%{
        height: 50%;
        background: yellow;
    }
    75%{
        height: 75%;
        background: #d7fc03;
    }
    100%{
        height: 100%;
        background: rgb(0,255,0);
    }
    
}